* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    font-family: "Poppins", sans-serif;
    background-image: url(../assets/background-connexion.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}
h1 {
    font-size: 2rem;
    color: #ffffff;
    margin-top: 200px;
    text-align: center;
    margin: 20px 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-weight: 600;
}
#connexionForm {
    width: 500px;
    height: 500px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

#inscription {
    display: none;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 600px;
    box-shadow: 0 4px 8px rgba(221, 209, 209, 0.1);
    transform: translate(-50%, -50%);
    z-index: 1000;
}

form p {
    font-size: 1.2rem;
    color: #333;
    margin: 10px;
    text-align: center;
}
label {
    font-size: 1.3rem;
    color: #333;
    margin-bottom: 10px;
}
input {
    width: 60%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}
button {
    width: 60%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.bienvenueStyle {
    font-size: 1.5rem;
    color: #333;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 10px 0;
    text-align: center;
    font-weight: bold;
  
    height: 80vh;
    width: 100%
}
/* faire une animation sur le message en rendant le background flou pendant 3 secondes */

/* @keyframes flou {
      0% {
            backdrop-filter: blur(0);
            transform: translateY(0);

      }
      100% {
            backdrop-filter: blur(5px);
            transform: translateY(-10px);
      }
} */
