* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    /* display: flex; */
    font-family: "Poppins", sans-serif;
    background-image: url(../assets/backgroun.webp);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: relative;
}
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.525);
    z-index: -1;
}
/* Header  */
h1 {
    font-size: 2rem;
    font-family: "Times New Roman", Times, serif;
    color: rgb(255, 255, 255);
    margin: 20px 0;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-weight: 600;
}
header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(13, 43, 71);
    position: relative;
}
header nav {
    width: 60%;
}
header nav ul {
    text-align: center;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0;
    padding: 0;
}
/*-------------------------------------main */
main {
    display: flex;
    /* justify-content: center;
    align-items: flex-start; */
    padding: 20px;
    /* margin: 20px; */
    /* position: relative; */
}

/* ------------------------------------Admin */
.admin {
    display: flex;
    flex-direction: column ;
    justify-content: right;
    position: sticky;
    top: 0;
    right: 0;
    /* width: 30%; */
    height: 100vh;
    color: white;
    padding: 20px;
    z-index: 1;
}
.admin h2 {
    margin-top: 30px;
}
#vendeur {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 20px;
}
.form-container {
    display: flex;
    flex-direction: column;
    align-items: right;
    /* gap: 20px; */
    position: sticky;
    top: 0;
    z-index: 1000;
}
.addMarqueResponse {
    color: rgb(20, 200, 20);
    font-weight: bold;
    text-align: center;
}
.addMarqueError {
    display: block;
    font-family: "Courier New", Courier, monospace;
    font-size: 0.5rem;
    margin: 3px;
    color: red;
    font-weight: bold;
    text-align: center;
}

.deleteMarqueBtn {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: rgb(250, 255, 250);
    border: none;
    border-radius: 15px;
    padding: 5px 15px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    font-size: 0.4rem;
}
.deleteMarqueBtn:hover {
    background-color: #ff4d4d;
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: center;
}
.editMarqueBtn {
    background-color: rgb(255, 200, 0);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: green;
    border: none;
    border-radius: 15px;
    /* padding: 5px 15px; */
    transition: 0.2s ease-in-out;
    cursor: pointer;
    font-size: 1rem;
}
.editMarqueBtn:hover {
    background-color: #eaa121;
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: rgb(255, 255, 255);
    font-weight: bold;
}
.annulerModifier {
    background-color: none;
    border: none;
    padding: 1vw 2vw;
    margin: 2vw;
    font-size: 1rem;
    position: absolute;
    top: -10px;
    right: 0;
}
/* ------------------  NOS MARQUES  ------------------ */
form {
    display: flex;
    flex-direction: column;
    margin: 20px;
    border-radius: 15px;
}
form input {
    /* width: 60%; */
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
}
input {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.successMessage {
    color: rgb(31, 208, 31);
    font-weight: bold;
    text-align: center;
}
.errorMessage {
    display: block;
    font-family: "Courier New", Courier, monospace;
    font-size: 0.8rem;
    margin: 3px;
    color: red;
    font-weight: bold;
    text-align: center;
}
.supprimerMarque {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 20px;
    border-radius: 15px;
}

/* ------------------  NOS MARQUES  ------------------ */
h2 {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 2rem;
    color: rgb(255, 255, 255);
    margin: 5px 0;
    text-align: center;
}
a {
    text-decoration: none;
    color: rgb(214, 216, 111);
    font-size: 1.4rem;
}
a:hover {
    color: rgb(255, 255, 255);
}
header h1 {
    color: rgb(214, 216, 111);
    margin: 10px 0;
}

h3 {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    color: brown;
    margin: 10px 0;
}
#stocksContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    border-radius: 20px;
    background-color: rgba(13, 43, 71, 0.704);
}
#cardModelesMarque {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(13, 43, 71, 0.704);
}
#modelesContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.supMarBtn {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: whitesmoke;
    margin: 25px;
    border-radius: 5px;
    padding: 1vw;
    width: 250px;
    height: 320px;
    transition: 0.5s ease-in-out;
    box-shadow: 0 4px 8px rgba(33, 32, 32, 0.2);
    border: solid rgba(0, 0, 0, 0.217);
    position: relative;
}
.modelesMarque {
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: rgb(126, 51, 51);
    color: rgb(13, 43, 71);
    text-align: center;
    position: absolute;
    bottom: -50px;
}   
.card form button {
    text-align: center;
}
.card form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card h3 {
    text-align: center;
    font-size: 1.3rem;
    color: rgb(197, 8, 175);
    transition: 0.5s ease-in-out;
    box-shadow: inset 0 0 0 0 rgba(39, 38, 38);
}
.card:hover,
.card2:hover {
    /* transform: scale(1.05);
    transition: 0.2s ease-in-out; */
}
.successMessage {
    color: green;
    font-weight: bold;
    text-align: center;
}
.card button {
    background-color: rgb(13, 43, 71);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    margin: 1vw;
    cursor: pointer;
    font-size: 0.8rem;
    text-align: bottom;
}
.cardSuppression {
    background-color: red;
    transition: all 0.5s ease-in-out;
    color: white;
}

.card2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: whitesmoke;
    margin: 2vw 3vw;
    border-radius: 5px;
    padding: 1vw 2vw;
    width: 300px;
    height:550px;
    transition: 0.5s ease-in-out;
    box-shadow: 0 4px 8px rgba(46, 45, 45, 0.2);
    border: solid rgba(0, 0, 0, 0.217);
    position: relative;
}
span {
    font-size: 1rem;
    color: rgb(39, 38, 38);
}
.card2:hover {
}
.card2 h3 {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(117, 48, 88);
    transition: 0.5s ease-in-out;
    box-shadow: inset 0 0 0 0 rgba(39, 38, 38);
}
.card2 p {
    text-align: center;
    font-size: 0.9rem;
    width: 80%;
    margin-bottom: 5px;
    color: rgb(31, 128, 139);
}
.card2 h4 {
    background-color: rgb(245, 208, 77);
    box-shadow: #0000005e 2px 3px 1px;
    border-radius: 7px;
    padding: 6px 3px;
    width: 100px;
    text-align: center;
    margin: 15px;
}
.card2 img {
    margin: 20px;
}
.card2Modifier {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(4, 40, 74);
    margin: 2vw 3vw;
    border-radius: 5px;
    padding: 1vw 2vw;
    width: 25vw;
    height: 45vh;
    position: absolute;
    color: white;
    z-index: 211;
}
#modifierModele {
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 15px;
    margin: 10px 0;
}
.annulerModifierModele,
.supModBtn {
    display: flex;
    justify-content: center;
}
#modifierModele button {
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    margin: 5px 0;
    border: none;
    background-color: none;
    padding: 1vw 1vw;
    margin: 1vw;
    font-size: 0.7rem;
    cursor: pointer;
    border-radius: 10px;
}
.deleteModeleBtn {
    background: none;
    border: none;
   padding: 1vw 1vw;
    margin: 1vw;
    font-size: 0.7rem;
    cursor: pointer;
    background-color: rgb(170, 44, 5);
    border-radius: 10px;
    color: white;
}

.editModeleBtn {
    background: none;
    border: none;
    padding: 1vw 1vw;
    margin: 1vw;
    font-size: 0.7rem;
    cursor: pointer;
    background-color: rgb(48, 77, 73);
    border-radius: 10px;
    color: white;
}
.deleteModeleBtn:hover,
.editModeleBtn:hover {
    transform: scale(1.1);
    transition: 0.2s ease-in-out;
}
/* -----------------------------Ajouter marque */

.ajouterMarque {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    text-align: center;
    background-color: rgb(13, 43, 71);
    margin: 1vw 1vw;
    border-radius: 15px;
    height: 200px;
    transition: 0.2s ease-in-out;
    font-size: 1rem;
}
.ajouterMarque button {
    background-color: whitesmoke;
    border: none;
    color: rgb(13, 43, 71);
    border-radius: 5px;
    padding: 10px 15px;
    margin: 10px auto;
    cursor: pointer;
    font-size: 0.8rem;
    width: 150px;
}

.ajouterModele,
#addModeleForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    border-radius: 5px;    margin: 3vw 1vw;
    padding: 1vw 2vw;
    margin: 3vw 1vw;
    /* gap: 10px; */
    text-align: center;
    width: 300px;
}
#addModeleForm select {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#addModeleForm button {
    background-color: rgb(13, 43, 71);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 1vw;
    cursor: pointer;
    font-size: 0.8rem;
}
#addModeleForm label,
input {
    color: rgb(39, 38, 38);
    margin-bottom: 10px;
}
#annulerModifierModele {
    background-color: none;
    border: none;
    padding: 1vw 2vw;
    /* margin: 1vw; */
    font-size: 0.8rem;
    cursor: pointer;
    top: 0;
    right: 0;
    border-radius: 10px;
    background-color: rgb(170, 44, 5);
    color: white;
}
#validerModifierModele {
    background-color: rgb(0, 255, 0);
    border: none;
    padding: 1vw 2vw;
    /* margin: 2vw; */
    font-size: 0.8rem;
    cursor: pointer;
    border-radius: 10px;
}
.addform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.stylePclick {
    padding: 4vw ;
    justify-content: center;
    align-items: center;
    overflow: scroll;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    height: 90vh;
    width: 70vw;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: whitesmoke;
    border-radius: 20px;
    /* backdrop-filter: blur(5px); */
}
.modele{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(219, 208, 168);
    box-shadow: #0000005e 2px 3px 1px;
    border-radius: 7px;
    padding: 6px 3px;
    height: 10vh;
    width: 500px;
    text-align: center;
    margin: 15px;
}